logs
project/project
project/target
target
.target
tmp
.history
dist
/.idea
/*.iml
*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
.cache
.class
bin
.*.lock
precompiled
classes
eclipse
.project
.classpath
test-result
activator*
.settings
.ensime_cache
.ensime
node_modules/
.DS_Store
